.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.loginHero {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.loginLeft {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonLeft {
  padding: 0.5em 2.5em;
  border-radius: 10px;
  margin-top: 2rem;
  border: none;
  background-color: var(--primary-100);
  color: var(--bg-100);
  font-size: 18px;
  font-weight: bold;
}

.buttonLeft:hover {
  background-color: aqua;
  color: var(--black);
}

.loginForm input {
  border-radius: 10px;
  padding: 8px;
  width: 50%;
  font-size: 18px;
}

.loginForm {
  margin: 0 auto;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/BG-landing.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 5rem;
}

.loginRight p {
  max-width: 25ch;
  line-height: 1.5;
  padding: 1rem;
}

.loginRight h2 {
  padding: 1rem;
}

.buttonClick {
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-100);
  color: var(--bg-100);
  font-size: 18px;
  font-weight: bold;
}

.buttonClick:hover {
  background-color: aqua;
  color: var(--black);
}

/*--- Mobile ---*/
@media screen and (max-width: 760px) {
  .loginHero {
    flex-direction: column;
  }

  .loginForm {
    padding-top: 7rem;
  }

  .loginLeft,
  .loginRight {
    width: 100%;
  }

  /* top */
  .loginLeft {
    padding-top: 4rem;
  }
  .loginLeft h1 {
    text-align: center;
    padding: 0 3rem;
  }

  /* bottom */
  .loginRight {
    padding-bottom: 5rem;
    padding-top: 2rem;
    margin-top: 4rem;
  }
}
