.sideBar {
  display: flex;
  flex-direction: column;
  width: 15%;
  border-right: 1px solid rgb(249, 235, 235);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background: linear-gradient(to right bottom, rgb(200, 200, 245), white);
}

.sideBarTop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.sideBarTop a .logo {
  width: 50%;
  padding-top: 10px;
}

.sideBarTop .sideBar-logo-container span {
  display: flex;
  color: rgb(90, 37, 206);
  font-weight: bold;
  width: 50%;
  padding-left: 35px;
  padding-bottom: 20px;
}

.sideBarBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sideBarTop ul,
.sideBarBottom ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.sideBarTop ul li,
.sideBarBottom ul li {
  width: 90%;
  text-align: center;
  padding: 0.8rem;
  margin-left: 0.2rem;
}

.sideBarBottom ul li:first-child {
  padding: 1rem;
}

.sideBarBottom ul li:last-child {
  border-bottom: none;
}
.sideBar .themeSideNav,
.sideBar .side-logout {
  margin-left: 1.1rem;
}

.sideBarTop ul li a,
.sideBarBottom ul li a,
.sideBar .sideBarTop a {
  text-decoration: none;
  color: var(--text-100);
}

.sideBarTop ul li:hover,
.sideBarBottom ul li:hover {
  background-color: rgba(240, 240, 240, 0.626);
  width: 90%;
  border-radius: 0.5rem;
}

.sideBar .sideNav-Link,
.sideBar a div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.sideBarTop i,
.sideBarBottom i {
  color: rgb(3, 69, 92);
  font-size: 1.2rem;
}

.sideBar .sideNav-Link.active {
  background-color: var(--bg-100);
  margin: 0 auto;
  width: 90%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 10px 3px rgb(116, 114, 114);
}

.sideBar .sideNav-Link.active:hover {
  background-color: none;
  padding: 0.5rem;
}

/* Mobile */
@media (max-width: 760px) {
  .sideBar {
    width: 18%;
    height: 100vh;
  }
  .sideBarTop a .logo {
    width: 100%;
    height: 6rem;
    padding-top: 20px;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }

  .sideBarBottom {
    margin-bottom: 3rem;
  }

  .sideBar .sideNav-Link {
    justify-content: center;
  }

  .sideBar .side-logout {
    margin-left: -0.5rem;
  }

  .sideBar .themeSideNav {
    margin-left: 0.7rem;
  }

  .sideBarTop .sideBar-logo-container span {
    display: none;
  }
  .sideBar .sideNav-Link span {
    display: none;
  }

  .sideBar a span {
    display: none;
  }
}
